.maplocation {
  border: 1px solid var(--background-modifier-border);
  padding: 10px;
}

.maplocation__name {
  font-weight: 600;
}

.maplocation__display_name {
  color: var(--text-muted);
  font-weight: 300;
}
.maplocation__type {
  color: var(--text-muted);
}
